html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  padding: 2px;
  border: 2px solid #aac7f1;
}

.profile-picture-avatar {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  object-fit: cover;
}